.school-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-gif,
.major-icons {
  width: 4rem;
  filter: brightness(5) invert(5);
}

.school-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem;
  margin: 0;
  background-color: #02C39A ;
  color: black;
  border: 3px solid black;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 15%;
}

.degree-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem;
  margin: 1.5rem;
  background-color: #C2B280 ;
  color: black;
  border: 3px solid black;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10%;
}

.programs-offered {
  padding: .5rem;
}

.program-heading-container {
  border-bottom: 3px solid black;
  font-size: 2rem;
  width: 30rem;
  display: flex;
  align-items: center;
}

