.school-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-gif,
.major-icons,
.money-bag {
  width: 4rem;
  filter: brightness(5) invert(5);
}

.school-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem;
  margin: 0;
  background-color: #02C39A ;
  color: black;
  border: 3px solid black;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 15%;
  width: 70vw;
}

.school-name {
  color: black;
  align-items: center;
}

.degree-categories,
.cost-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem;
  margin: 1.5rem;
  background-color: #C2B280 ;
  color: black;
  border: 3px solid black;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 10%;
  width: 65vw;
}

.programs-offered {
  padding: .5rem;
}

.program-heading-container,
.cost-header {
  border-bottom: 3px solid black;
  font-size: 2rem;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.program-heading {
  margin-right: .5rem;
}

.cost-header {
  border-bottom: 3px solid black;
  font-size: 2rem;
  width: 55vw;
  display: flex;
  justify-content: space-evenly;
}

.cost-info {
  font-size: 1.5rem;
}


